* {
  padding: 0;
  margin: 0;
  font-family: 'General sans';
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#minicircle {
  transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
  width: 10px;
  height: 10px;
  position: absolute;
  z-index: 99999;
  border-radius: 50%;
  background-color: white;
}

.bounding {
  width: fit-content;
  overflow: hidden;
}

.bounding .boundingelem {
  transform: translateY(100%);
}

#main {
  width: 100%;
  background-color: black;
}

#home {
  position: relative;
  color: white;
  width: 100%;
  height: 100vh;
  background-color: black;
}
#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 30px 50px;
  color: white;
}

#nav a {
  text-decoration: none;
  font-size: 18px;
  color: white;
  font-weight: 550;
}

#nav h4 {
  font-weight: 500;
}

#heading {
  margin-top: 8vw;
}

#heading h1 {
  margin-left: 2.5vw;
  opacity: 0.66;
  line-height: 0.84;
  font-size: 10.5vw;
  text-transform: uppercase;
  font-weight: 500;
}

#heading #secondh1 {
  margin-left: 13.6vw;
}

.blocktext {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: fit-content;
}

.blocktext h5 {
  text-transform: uppercase;
  text-align: right;
  font-size: 0.85vw;
  line-height: 4vw;
  font-weight: 500;
}

#sheading {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 100px;
  padding-right: 30px;
}

#sheading h5 {
  text-transform: uppercase;
  margin-top: 0.5vw;
  font-size: 16.5px;
  text-align: right;
  font-weight: 500;
}

#hfooter {
  padding: 0 2vw;
  width: 100%;
  position: absolute;
  bottom: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 500;
}

#hfooter #iconset {
  color: black;
  display: flex;
  gap: 5px;
}

#hfooter .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #888888;
}

#second {
  color: white;
  padding-right: 10vw;
  padding-top: 200px;
  background-color: black;
  width: 100%;
}

.elem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 3.5vw 3vw;
  padding-right: 0vw;
  border-top: 1px solid #888888;
}

.elem h1 {
  text-transform: uppercase;
  font-size: 7.6vw;
  opacity: 0.7;
}

.elemlast {
  border-bottom: 1px solid #888888;
}

.elem img {
  opacity: 0;
  pointer-events: none;
  height: 140%;
  z-index: 999;
  position: absolute;
  transform: translate(-50%, -50%);
}

#about {
  display: flex;
  align-items: center;
  gap: 50px;
  color: white;
  padding: 10vw 5vw;
  padding-left: 40vw;
  background-color: black;
  width: 100%;
}

#textabout {
  width: 25rem;
}

#textabout h5 {
  text-transform: uppercase;
  opacity: 0.6;
  margin-bottom: 10px;
}

#textabout p {
  line-height: 1.7;
  margin-bottom: 30px;
}
#textabout a {
  padding: 12px 22px;
  border: 1px solid white;
  border-radius: 100px;
  color: white;
  font-size: 12px;
  text-decoration: none;
}

#about img {
  width: 200px;
}

#subscribe {
  color: white;
  padding: 20px 30px;
  padding-bottom: 7vw;
  background-color: black;
}

#subscribe h5 {
  text-transform: uppercase;
  opacity: 0.6;
}

#subscribe h3 {
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 10px;
}

#footer {
  color: white;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 30px;
}

#footerleft {
  display: flex;
  gap: 20px;
}

#footerright {
  display: flex;
  gap: 30px;
}

#footer a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  #nav {
    padding: 25px 20px;
  }
  #nav a {
    font-size: 16px;
  }
  #heading {
    margin-top: 30vw;
  }
  #heading h1 {
    margin-left: 5.3vw;
    font-size: 18.2vw;
    line-height: 0.9;
  }
  #heading #secondh1 {
    margin-left: 5vw;
  }
  .blocktext h5 {
    font-size: 13px;
    line-height: 7.8vw;
  }
  #sheading {
    margin-top: 80px;
    padding-right: 20px;
  }
  #sheading h5 {
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
  }
  #hfooter {
    padding: 10px 20px;
  }
  #hfooter a1 {
    font-size: 13px;
    font-weight: 500;
  }
  #hfooter a2 {
    font-weight: 500;
    font-size: 13px;
    text-align: right;
  }
  #hfooter #iconset {
    display: none;
  }
  #minicircle {
    display: none;
  }
}
